<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class=" col-md-12 c2">
    <div class="container c1">
        <img src="/images/img1.png" class="imglogo">
        <span class="title">EMPLOYEE MANAGEMENT</span>
    </div>
</div>


<div class="col-md-12">
    <div class="container cs2">

        <table border="1" class="table table-bordered table-striped">
            <tr>
                <td colspan="6">
                    <a href="{%url 'addemp'%}">
                        <button class="btn btn-success pull-right"><i class="fa fa-user-plus"></i> ADD NEW STAFF
                        </button>
                    </a>
                </td>
            </tr>

            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Operations</th>

            </tr>
            {%for emp in employees%}
            <tr>
                <td>{{emp.name}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.address}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.gender}}</td>
                <td><a href="{%url 'update' emp.id%}">
                    <button class="btn btn-warning btn-social-icon"><i class="fa fa-edit"></i></button>
                </a>
                    <a href="{%url 'delete' emp.id%}">
                        <button class="btn btn-danger btn-social-icon"><i class="fa fa-trash"></i></button>
                    </a>
                </td>
            </tr>
            {%endfor%}


        </table>
    </div>
</div>

</body>
<style type="text/css">
  .cq1{
    border-radius: 15px;
    border-color: #4DCF98;
    height: 300px;
    border-width: 2px;
  }
  .c1{
    width: 100%;
  }
  .c2{
    width: 100%;
    background: #4DCF98;
    color: #fff;
  }
  .imglogo{
    width: 70px;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    margin:10px;
  }
  .title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 3%;
  }
  .cs2{
    margin-top: 5%;
  }

</style>
</html>
